@import "tailwindcss";

@theme inline {
	--font-jetbrains-mono: "JetBrains Mono", monospace;
	--font-sans: "Inter", sans-serif;
	--font-heading: "Poppins", sans-serif;

	--animate-slider: slider 20s linear infinite;
	--animate-slider-reverse: slider 20s linear infinite reverse;
	--animate-shimmer: shimmer 1.5s ease-in-out forwards;

	--color-accent: #0070f3;
	--color-background-primary: var(--background-primary);
	--color-background-secondary: var(--background-secondary);
	--color-font-primary: var(--color-font-primary);
	--color-font-secondary: var(--color-font-secondary);

	@keyframes slider {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-100%);
		}
	}

	@keyframes shimmer {
		0% {
			width: 0%;
		}
		100% {
			width: var(--skill-width);
		}
	}
}

html.light {
	background-color: var(--background-primary);
	--background-primary: #f6f8fa;
	--background-secondary: #ffffff;
	--color-font-primary: #24292f;
	--color-font-secondary: #57606a;
}

html.dark {
	background-color: var(--background-primary);
	--background-primary: #0d1117;
	--background-secondary: #161b22;
	--color-font-primary: #c9d1d9;
	--color-font-secondary: #8b949e;
}

html,
body {
	scroll-behavior: smooth;
	scroll-margin-top: 100px;
	background-color: var(--background-primary);
	min-height: 100%;
	width: 100%;
}

* {
	scroll-margin-top: 50px;
	transition:
		height 0.4s ease,
		background-color 0.4s ease,
		color 0.4s ease,
		border-color 0.4s ease,
		opacity 0.4s ease,
		scale 0.4s ease;
}

@utility flex-center {
	@apply flex items-center justify-center;
}

@utility flex-center-col {
	@apply flex flex-col items-center justify-center;
}

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a {
		@apply font-heading text-font-primary;
	}

	span,
	p,
	button {
		@apply text-font-secondary font-sans;
	}
}

.scrollbar-hidden::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Edge */
}

*::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Edge */
}

* {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
